/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 *
 * For simplicity, no reset or normalize is added.
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 * Content:
        - Import styles
        - Base Rules
        - Typography General
        - Layout Rules
        - Module Rules
        - Header Styles
        - Keyframe
        - Landing Container Styles
*/
@import "layout.css";
:root {
    --main-color: #c8a571;
    --light-main-color: #ece7e1;
    --white-color: #fff;
}

/* ---- Base Rules ---- */
* {
    box-sizing: border-box;
}

body {
    background: #000000;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--white-color);
    box-sizing: border-box;
}

/* ---- Layout Rules ---- */
main {
    padding: 99px 0 0;
}

section {
    position: relative;
}

/* ---- Module Rules ---- */
.page-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background: black;
    z-index: 5;
    height: 100px;
}
.slideUp {
    transform: translateY(-100px);
    transition: transform .4s ease-out;
}

.slideDown {
    transform: translateY(0);
    transition: transform .4s ease-out;
}
/* Navigation Styles*/
.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a {
    padding: 0.5rem 2rem 0;
    display: inline-block;
}
.navbar-menu .logo img{
    width: 120px;
}

.navbar-menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar-menu li {
    display: inline-block;
}
.navbar-menu li.current {
    background-color: var(--main-color);
}

.navbar-menu li  p{
    display: inline-block;
    padding: 1em;
    font-weight: bold;
    color: var(--light-main-color);
}
.navbar-menu li.current p {
    color: black;
}
.navbar-menu li:hover p{
    color: pink;
    transition: all 0.3s ease;
}

/* Section intro Styles */

#intro {
    min-height: 40vh;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#intro:before {
    content: '';
    width: 100%;
    height: 100%;
    background: url('../images/DSC_0031.JPG') no-repeat fixed top;
    background-size: cover;
    filter: grayscale(100%);
    position: absolute;
}

.align-text-center {
    text-align: center;
}

#intro .main-hero-content {
    position: relative;
    padding: 6rem 0;
}

#intro .section-title {
    font-family: 'Kaushan Script', handwriting, serif;
    font-size: 4.25rem;
    color: var(--white-color);
    padding: 0 0 1rem;
    margin-bottom: 10px;
}

#intro .main-hero-content p {
    font-size: 1.2rem;
    color: var(--light-main-color);
}

.goto-gallery {
    border: 1px solid var(--white-color);
    display: inline-block;
    border-radius: 100px;
    padding: 1rem 3rem;
    margin: .4rem .8rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

.goto-gallery:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
    color: var(--white-color);
    background-color: var(--main-color);
    border-color: var(--main-color);
    cursor: pointer;
}

/* Work statistic section*/
#work {
    background-color: rgba(250, 250, 250,0.05);
    padding: 3rem 0;
}

.work-statistics {
    display: flex;
    justify-content: center;
}

.work-box {
    padding: 1rem;
}

 /*Best shot section*/
#best-shot {
    min-height: 50vh;
    background: url('../images/sunset.jpg') no-repeat fixed top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#best-shot .overlay {
    opacity: 0.5;
}

.best-shot-content {
    text-align: center;
    position: relative;
    margin-top: 5rem;
}
.best-shot-desc {
    font-family: 'Kaushan Script', handwriting, serif;
    font-size: 3.5rem;
    color: var(--light-main-color);
    text-align: center;
}
    /* Footer Styles */
.page-footer {
    padding: 3em;
    position: relative;
}

.page-footer p{
    color: var(--white-color);
}

.page-footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 3rem;
}
.page-footer li {
    width: 50%;
}

.page-footer a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

@media only screen and (min-width: 35em){
    .landing-container {
        max-width: 50em;
        padding: 4em;
    }
}
@media only screen and (max-width: 650px){
    .navbar-menu ul {
        display: none;
    }
    .page-footer ul, .work-statistics {
        flex-direction: column;
    }
    #intro .section-title{
        font-size: 1.5rem;
    }
    #intro .main-hero-content p{
        font-size: 1rem;
    }
    section#about::before {
        display: none;
    }
    section#work::before {
        display: none;
    }
    .best-shot-desc,.section-main-title {
        font-size: 1.5rem !important;
    }
    .landing-container,.page-footer {
        padding: 1.5rem !important;
    }
    .page-footer li {
        margin-bottom: 1rem;
    }

    .page-footer li a{
        font-size: 0.8rem;
    }
}
.landing-container {
    padding: 3em;
    text-align: left;
    max-width: 1140px;
}


/* Background for some sections */
section#about::before {
    content: '';
    background: url("../images/5c0a8c0005bb44fd69b34d2196087819.gif") no-repeat center/cover ;
    position: absolute;
    z-index: -5;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    opacity: 0;
    left: 2rem;
    transition: ease 0.5s all;
}

section#about::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}


section#work::before {
    content: '';
    background: url("../images/ef746145bdb70efe829085b027afa20a.gif") no-repeat center/cover ;
    position: absolute;
    z-index: -5;
    width: 30vh;
    height: 30vh;
    opacity: 0;
    right: 2rem;
    bottom: 1rem;
}

section#work::before {
    opacity: 1;

}
/* Section Active Styles Keyframe Animations */
@keyframes rotate {
    from {
        transform: rotate(0deg)
        translate(-1em)
        rotate(0deg);
    }
    to {
        transform: rotate(360deg)
        translate(-1em)
        rotate(-360deg);
    }
}

@media only screen and (min-width: 901px) {
    html {
        scroll-behavior: smooth;
    }
}
/* ---- Theme State Rules ---- */
/* Shared Styles */
.overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.section-main-title {
    font-family: 'Kaushan Script', handwriting, serif;
    font-size: 3rem;
    padding: 1rem;
}
.manage-space {
    padding: 2rem 0;
}
